{% extends 'base.twig' %}
{% block extra_head %}
    <script type="application/ld+json">
        {% if content.type == 'track' %}
            {
                "@context": "https://schema.org",
                "@type": "MusicRecording",
                "name": {{ content.track_name }},
                "byArtist": {
                    "@type": "MusicGroup",
                    "name": {{ content.artist_name }}
                },
                "album": {
                    "@type": "MusicAlbum",
                    "name": {{ content.album_name }}
                },
                "datePublished": {{ content.release_date }},
                "url": {{ content.track_spotify_url }},
                "image": {{ content.images[1].url }},
            }
        {% else %}
            {
                "@context": "https://schema.org",
                "@type": "MusicAlbum",
                "name": {{ content.album_name }},
                "byArtist": {
                    "@type": "MusicGroup",
                    "name": {{ content.artist_name }}
                },
                "datePublished": {{ content.release_date }},
                "url": {{ content.track_spotify_url }},
                "image": {{ content.images[1].url }},
            }
        {% endif %}
    </script>
{% endblock %}
{% block main %}
    <section class="song-section">
        <figure>
            <img src="{{ content.images[1].url }}"
                alt="{{ 'Portada del ' ~ content.type ~ ' ' ~ content.album_name ~ ' de ' ~ content.artist_name }}"
                width="225px" height="225px" class="image-border" />
            <figcaption>
                {% if content.type == 'track' %}
                    <p>Canción</p>
                    <h2>{{ content.track_name }}</h2>
                    <h3>{{ content.album_name }}</h3>
                {% else %}
                    <p>Álbum</p>
                    <h2>{{ content.album_name }}</h2>
                {% endif %}
                <p class="artist-info">
                    <img src="{{ content.artist_avatar_url }}" alt="{{ 'Imagen de perfil de ' ~ content.artist_name }}"
                        height="55px" width="55px" />
                    <a href="{{ content.artist_spotify_url }}" target="_blank">{{ content.artist_name }} · {{ content.release_date|split('-')[0] }}</a>
                </p>
            </figcaption>
        </figure>
        <section class="song-stats">
            <h2>Valoración promedio </h2>
            <p class="posts-amount">{{averageRating}}</p>
            <p class="post-count">
                {{postsCount}} posts
            </p>
        </section>
        <section class="song-actions">
            {% if content.type == 'track' %}
                <button class="submit-button post-form-opener" id="{{ content.track_id }}" data-type="{{ content.type }}">Crear post</button>
            {% else %}
                <button class="submit-button post-form-opener" id="{{ content.album_id }}" data-type="{{ content.type }}">Crear post</button>
            {% endif %}
            <section>
                <button class="favorite-button toggle-favorite-content">
                    <i class="ph ph-heart icon heart-icon"></i>
                    <span class="visually-hidden">
                        Agregar canción/álbum como favorita
                    </span>
                </button>
                {% if content.type == 'track' %}
                    <a class="spotify-button" href="{{ content.track_spotify_url }}" target="_blank">
                        <i class="ph ph-spotify-logo icon-lg spotify-icon"></i>
                        <span class="visually-hidden">
                            Ver en spotify
                        </span>
                    </a>
                    <button class="track-preview-button">
                        <i class="ph ph-play-circle icon-lg play-icon"></i>
                        <span class="visually-hidden">
                            Reproducir pre-escucha de la canción
                        </span>
                    </button>
                    <audio class="track-preview">
                        <source src="{{ content.track_preview_url }}" type="audio/mp3">
                        Tu navegador no soporta la etiqueta de audio.
                    </audio>
                {% else %}
                    <a class="spotify-button" href="{{ content.album_spotify_url }}" target="_blank">
                        <i class="ph ph-spotify-logo icon-lg spotify-icon"></i>
                        <span class="visually-hidden">
                            Ver en spotify
                        </span>
                    </a>
                {% endif %}
                {% if content.type == 'track' %}
                    <button class="share-button" data-song-id="{{ content.track_id }}" data-post-content="{{ content.track_name ~ ' de ' ~ content.artist_name }}">
                        <i class="ph ph-share-network icon share-icon"></i>
                        <span class="visually-hidden">
                            Compartir información de la canción
                        </span>
                    </button>
                {% else %}
                    <button class="share-button" data-song-id="{{ content.album_id }}" data-post-content="{{ content.album_name ~ ' de ' ~ content.artist_name }}">
                        <i class="ph ph-share-network icon share-icon"></i>
                        <span class="visually-hidden">
                            Compartir información del álbum
                        </span>
                    </button>
                {% endif %}
            </section>
        </section>
    </section>

    <section class="most-popular-posts">
        <h2 class="section-title">Publicaciones más populares</h2>
        <section>
            {% if mostRelevantPosts is empty %}
                <p class="no-content-msg">No hay ningún post relacionado a este contenido</p>
            {% else %}
                {% for post in mostRelevantPosts %}
                    <article tabindex="0" class="post add-modal-access" id="post_{{ loop.index }}" aria-posinset="{{ loop.index }}" aria-setsize="{{ mostRelevantPosts|length }}"
                        aria-labelledby="post-{{ loop.index }}-song-title post-{{ loop.index }}-artist-title" aria-describedby="post-content-{{ loop.index }}">
                        <figure>
                            <section class="article-img-container">
                                <img loading="lazy" class="image-border" width="100px" height="100px"
                                    src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
                                    alt="Portada del álbum 'Dark Side of The Moon' Pink Floyd" />
                            </section>
                            <section class="user-info">
                                <img loading="lazy" class="user-img" height="25px" width="25px"
                                    src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
                                    alt="Imagen de perfil de 'Usuario 1'" />
                                <p class="user-name">
                                    <a href="profile.html">Usuario 1</a>
                                    <span>$username1</span>
                                </p>
                                <p class="post-time">hace 8 horas</p>
                            </section>
                            <figcaption>
                                <h3 class="song-title" id="post-{{ loop.index }}-song-title">
                                    <a href="song.html">The Dark Side of the Moon</a>
                                </h3>
                                <h4 class="artist-title" id="post-{{ loop.index }}-artist-title">
                                    Pink Floyd
                                </h4>
                                <span class="tag">Increible</span>
                                <span class="tag">Rock</span>
                                <span class="tag">Internacional</span>
                                <p class="stars">★★★★★</p>
                            </figcaption>
                        </figure>
                        <section class="post-content" id="post-content-{{ loop.index }}">
                            <a href="post.html">
                                <p>
                                    It has survived not only five centuries, but
                                    also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum
                                    passages, and more recently with desktop
                                    publishing software like Aldus PageMaker
                                    including versions of Lorem Ipsum. t has
                                    survived not only five centuries, but also
                                    the leap into electronic typesetting,
                                    remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum
                                    passages, and more recently with deskt. It
                                    has survived not only five centuries, but
                                    also the leap into electronic typesetting,
                                    remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum
                                    passages, and more recently with desktop
                                    publishing software like Aldus PageMaker
                                    including versions of Lorem Ipsum. t has
                                    survived not only five centuries, but also
                                    the leap into electronic typesetting,
                                    remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of
                                    Letraset sheets containing Lorem Ipsum
                                    passages, and more recently with deskt.
                                </p>
                            </a>
                        </section>
                        <footer>
                            <section class="reaction-container comment-container">
                                <button>
                                    <i class="ph ph-chats-circle icon comment-icon"></i>
                                    <span class="visually-hidden">Comentar post</span>
                                </button>
                                <p>20</p>
                            </section>
                            <section class="reaction-container like-container">
                                <button class="heart-button">
                                    <i class="ph ph-heart icon heart-icon"></i>
                                    <span class="visually-hidden">Dar favorito al post</span>
                                </button>
                                <p>1008</p>
                            </section>
                        </footer>
                    </article>
                {% endfor %}
            {% endif %}
        </section>
    </section>

    <section class="most-recent-posts">
        <h2 class="section-title">Publicaciones más recientes</h2>
        {% if mostRecentPosts is empty %}
            <p class="no-content-msg">No hay ningún post relacionado a este contenido</p>
        {% else %}
            {% for post in mostRecentPosts %}
                 <article tabindex="0" class="post add-modal-access" id="post_1" aria-posinset="1" aria-setsize="3"
                    aria-labelledby="post-1-song-title post-1-artist-title" aria-describedby="post-content-1">
                    <figure>
                        <section class="article-img-container">
                            <img loading="lazy" class="image-border" width="100px" height="100px"
                                src="https://i.pinimg.com/564x/2f/18/9e/2f189e3be4ef04ab12a0a125efe4e67e.jpg"
                                alt="Portada del álbum 'Dark Side of The Moon' Pink Floyd" />
                        </section>
                        <section class="user-info">
                            <img loading="lazy" class="user-img" height="25px" width="25px"
                                src="https://i.pinimg.com/236x/94/7f/14/947f14841d26f5dc3541366a987b32f5.jpg"
                                alt="Imagen de perfil de 'Usuario 1'" />
                            <p class="user-name">
                                <a href="profile.html">Usuario 1</a>
                                <span>$username1</span>
                            </p>
                            <p class="post-time">hace 8 horas</p>
                        </section>
                        <figcaption>
                            <h3 class="song-title" id="post-1-song-title">
                                <a href="song.html">The Dark Side of the Moon</a>
                            </h3>
                            <h4 class="artist-title" id="post-1-artist-title">
                                Pink Floyd
                            </h4>
                            <span class="tag">Increible</span>
                            <span class="tag">Rock</span>
                            <span class="tag">Internacional</span>
                            <p class="stars">★★★★★</p>
                        </figcaption>
                    </figure>
                    <a href="post.html">
                        <section class="post-content" id="post-content-1">
                            <p>
                                It has survived not only five centuries, but
                                also the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop
                                publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum. t has
                                survived not only five centuries, but also
                                the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum
                                passages, and more recently with deskt. It
                                has survived not only five centuries, but
                                also the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum
                                passages, and more recently with desktop
                                publishing software like Aldus PageMaker
                                including versions of Lorem Ipsum. t has
                                survived not only five centuries, but also
                                the leap into electronic typesetting,
                                remaining essentially unchanged. It was
                                popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum
                                passages, and more recently with deskt.
                            </p>
                        </section>
                    </a>
                    <footer>
                        <section class="reaction-container comment-container">
                            <button>
                                <i class="ph ph-chats-circle icon comment-icon"></i>
                                <span class="visually-hidden">Comentar post</span>
                            </button>
                            <p>20</p>
                        </section>
                        <section class="reaction-container like-container">
                            <button class="heart-button">
                                <i class="ph ph-heart icon heart-icon"></i>
                                <span class="visually-hidden">Dar favorito al post</span>
                            </button>
                            <p>1008</p>
                        </section>
                    </footer>
                </article>
            {% endfor %}
        {% endif %}
{% endblock %}
        