{% extends 'base.twig' %}

{% block main %}
        <h2>Seguidores</h2>
        <section class="users" role="feed" aria-busy="false">
            {% if followers|length == 1 %}
                    <p class="no-followers-msg"> El usuario {{currentUser}} no es seguido por ningun usuario</p>
            {% else %}
                {% for user in followers %}
                    {% if user.USERNAME != currentUser %}
                        <article class="user" aria-posinset="{{ loop.index - 1 }}" aria-setsize="{{ followers|length - 1}}">
                            <img loading="lazy" height="70px" width="70px"
                                src="{{user.SPOTIFY_AVATAR}}"
                                alt="Imagen de perfil de {{user.USERNAME}}" />
                            <a href="/user?username={{user.USERNAME}}">{{user.NAME}} <span>${{user.USERNAME}}</span></a>
                            <p>
                                {{user.BIOGRAPHY}}
                            </p>
                            {% if user.USERNAME != username %}
                                <button id="{{user.USER_ID}}" class="submit-button action-button">Seguir</button>
                            {% endif %}
                        </article> 
                    {% endif %}
                {% endfor %}
            {% endif %}

        </section>
{% endblock %}