{% extends 'base.twig' %}

{% block main %}
        <h2>Seguidores</h2>
        <section class="users">
            {% if followers|length == 1 %}
                    <p class="no-followers-msg"> El usuario {{username}} no es seguido por ningun usuario</p>
            {% else %}
                {% for user in followers %}
                    {% if user.USERNAME != username %}
                        <article class="user">
                            <img loading="lazy" height="70px" width="70px"
                                src="{{user.SPOTIFY_AVATAR}}"
                                alt="Imagen de perfil de {{user.USERNAME}}" />
                            <a href="/user?username={{user.USERNAME}}">{{user.NAME}} <span>${{user.USERNAME}}</span></a>
                            <p>
                                {{user.BIOGRAPHY}}
                            </p>
                            <button class="submit-button action-button">Seguir</button>
                        </article> 
                    {% endif %}
                {% endfor %}
            {% endif %}

        </section>
{% endblock %}