{% extends 'base.twig' %}

{% block main %}
        <h2>Siguiendo</h2>
        <section class="users">
            {% for user in following %}
                <article class="user">
                    <img loading="lazy" height="70px" width="70px"
                        src="{{user.SPOTIFY_AVATAR}}"
                        alt="Imagen de perfil de {{user.USERNAME}}" />
                    <a href="/user?username={{user.USERNAME}}">{{user.NAME}} <span>${{user.USERNAME}}</span></a>
                    <p>
                        {{user.BIOGRAPHY}}
                    </p>
                    {% if user.USERNAME != username %}
                        <button class="action-button submit-outline-button">Siguiendo</button>
                    {% endif %}
                </article>             
            {% endfor %}
        </section>
{% endblock %}
                