{% extends 'base.twig' %}
{% set maxStars = 5 %}

{% block main %}
	<article class="post add-modal-access main-post" id="{{ post.id }}">
		<figure>
			<section class="article-img-container">
				<img loading="lazy" class="image-border" height="100px" width="100px" src="{{ post.cover.id }}" alt="Portada del álbum {{ post.content.title }} de {{ post.artist.name }}"/>
			</section>
			<section class="user-info">
				<img loading="lazy" class="user-img" height="25px" width="25px" src="{{ post.user.avatar }}" alt="Imagen de perfil de {{ post.user.username }}"/>
				<p class="user-name">
					<a href="user?username={{ post.user.username }}">{{ post.user.username }}</a>
					<span>${{ post.user.username }}</span>
				</p>
				<p class="post-time">{{ post.timeAgo }}</p>
			</section>
			<figcaption>
				<h2 class="song-title" id="post-{{ post.id }}-song-title">
					<a href="/content?id={{post.content.spotifyId}}">{{ post.content.title }}</a>
				</h2>
				<h3 class="artist-title">{{ post.artist.name }}</h3>
				{% for tag in post.tags %}
					<span class="tag">{{ tag.TEXT }}</span>
				{% endfor %}
				<p class="stars">
					{% for i in 1..maxStars %}
						{% if i <= post.rating %}
							<span>★</span>
						{% else %}
							<span>☆</span>
						{% endif %}
					{% endfor %}
				</p>
			</figcaption>
		</figure>
		<section class="post-content">
			<p>
				{{ post.description }}
			</p>
		</section>
		<footer>
			<section class="reaction-container comment-container">
				<button>
					<i class="ph ph-chats-circle icon comment-icon"></i>
					<span class="visually-hidden">Comentar post</span>
				</button>
				<p>20</p>
			</section>
			<section class="reaction-container like-container">
				<button class="heart-button">
					<i class="ph ph-heart icon heart-icon"></i>
					<span class="visually-hidden">Dar favorito al post</span>
				</button>
				<p>{{ post.likes }}</p>
			</section>
		</footer>
	</article>

	<section id="comment-form-container">
		<section class="user-info">
			<img loading="lazy" class="user-img" height="25px" width="25px" src="{{ currentUser.avatar }}" alt="Imagen de perfil de {{ currentUser.username }}"/>
		</section>
		<form action="/comment/create" method="POST">
			<p>Responde a
				<a href="/user?username={{ post.user.username }}">@{{ post.user.username }}</a>
			</p>
			<p>
				<div>
					<textarea name="text" class='input' required placeholder="Agrega un comentario..."></textarea>
					<input type="hidden" name="post_id" value="{{ post.id }}">
					<input type="submit" class="submit-button" value="Comentar"/>
				</div>
			</p>
		</form>
	</section>

	<section class="comments">
		{% for comment in post.comments %}
			<article class="post" id="{{ comment.id }}">
				<header class="user-info">
					<img loading="lazy" class="user-img" src="{{ comment.user.avatar }}" alt="Imagen de perfil de {{ comment.user.username }}" height="50px" width="50px"/>
					<p class="user-name">
						<a href="/user?username={{ comment.user.username }}">{{ comment.user.username }}</a>
						<span>@{{ comment.user.username }}</span>
						<span class="post-time">{{ comment.datetime }}</span>
					</p>
				</header>
				<section class="post-content">
					<p>
						{{ comment.text }}
					</p>
				</section>
				<footer>
					<section class="reaction-container comment-container">
						<button>
							<i class="ph ph-chats-circle icon comment-icon"></i>
							<span class="visually-hidden">Comentar post</span>
						</button>
						<p>20</p>
					</section>
					<section class="reaction-container like-container">
						<button class="heart-button" id="{{ comment.id }}" post-id="{{ post.id }}">
							<i class="{{ comment.liked ? " ph-fill active " : " ph " }} ph-heart icon heart-icon"></i>
							<span class="visually-hidden">Dar favorito al post</span>
						</button>
						<p>{{ comment.likes }}</p>
					</section>
				</footer>
			</article>
		{% endfor %}
	</section>
{% endblock %}
